table {
    margin: 80px;
    border-collapse: collapse;
    float: left;
}

table,
th,
td {
    border: 3px solid black;
}

td {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

.score-card {
    float: right;
    margin: 110px 225px 0 0;
}