#tb1 {
    border-collapse: collapse;
    /* border: 2px solid red; */
}

#tb2 {
    border-collapse: collapse;
    /* border: 2px solid blue; */
}

table,
th,
td {
    border: 3px solid black;
}

td {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

.moves {
    margin: 20px;
}

.ships h6 {
    /* background-color: grey; */
    padding: 3px;
}

.ships:hover {
    background-color: yellow;
}

.selected {
    background-color: yellow;
}

table {
    margin: 10px;
}